.TeamPerformance {
    justify-self: center;

    .winning-meter-title {
        padding-bottom: 20px;
    }

    .peformance-meter-section {
        margin-top: 10px;
        justify-self: center;
        align-self: center;
    }
}