.App {
  text-align: left;
  padding: 20px;
}

.Won-tile {
  background-color: forestgreen;
  color: white;
}

.Lost-tile{
  background-color: red;
  color: white;
}

.Navigation-header {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  justify-self: start;
}